## Aufgabe 2 Data Wrangling

In [1]:
#Python uses pandas library to work with Data Sets and Data Frames
import pandas as pd
import os

Zunächst werden alle csv Dateien als DataFrame mit Pandas importiert.

In [2]:
path = os.getcwd() 
path = path+"\\Data"

customer = pd.read_excel(path+ "\\Customer.xlsx", names=["Customer_ID", "CFName", "CLName", "CPlace", "CZip", "CPhone", "COrder_ID"])
customer_order = pd.read_excel(path + "\\CustomerOrder.xlsx")
food_truck = pd.read_excel(path + "\\FoodTruck.xlsx")
food_truck_menu = pd.read_excel(path + "\\FoodTruck_Menu.xlsx",header= None, names=['FTItem_ID', 'FoodItem_Name', 'ItemSize_ID', 'Price'])
item_size = pd.read_excel(path + "\\ItemSize.xlsx", header= None, names=['ItemSize_ID', 'ISizeType'])
raw_material_order = pd.read_excel(path + "\\RawMaterial_Order.xlsx", header= None, names=['RawMaterial_ID', 'Product_type', 'PricePer_Item', 'Quantity'])
supplier =  pd.read_excel(path + "\\Supplier.xlsx",header= None,  names=['Supplier_ID', 'Supplier_Name', 'ShippingDate', 'RawMaterial_ID'])

### Query 01
Check if there are any empty or null values in the entire dataset. Dafür wird die Funktion isnull() zusammen mit sum() verwendet damit gleich die aufaddierten null values sichtbar werden.

In [3]:
customer.isnull().sum()

Customer_ID    0
CFName         0
CLName         0
CPlace         0
CZip           0
CPhone         0
COrder_ID      1
dtype: int64

In [4]:
customer_order.isnull().sum()

COrder_ID    0
Reviews      0
FTItem_ID    0
dtype: int64

In [5]:
food_truck.isnull().sum()

Foodtruck_ID      0
FT_Name           0
FT_OpeningTime    0
FTItem_ID         0
COrder_ID         1
RawMaterial_ID    0
Supplier_ID       0
dtype: int64

In [6]:
food_truck_menu.isnull().sum()

FTItem_ID        0
FoodItem_Name    0
ItemSize_ID      0
Price            0
dtype: int64

In [7]:
item_size.isnull().sum()

ItemSize_ID    0
ISizeType      0
dtype: int64

In [8]:
raw_material_order.isnull().sum()

RawMaterial_ID    0
Product_type      0
PricePer_Item     0
Quantity          0
dtype: int64

In [9]:
supplier.isnull().sum()

Supplier_ID       0
Supplier_Name     0
ShippingDate      0
RawMaterial_ID    0
dtype: int64

Nur in den Datensätzen für Customer und Food Truck sind null oder empty values vorhanden. Es wäre auch möglich gewesen df.info() auszuführen und dort die fehlenden Werte zu sehen, jeodh werden dabei mehr Informationen als benötigt angezeigt deswegen wurde sich für df.isnull().sum() entschieden. Hierbei sieht man auch die jweiligen Columns in welchen ein Null/Empty Value existiert.

### Query 02
Show the Reviews of customers with their order ID(COrder_ID) and full name living in Hallstadt.

Dafür wird die Funktion pd.merge verwendet, der CPlace Hallstadt gefiltert und auf der COrder_ID gejoint und danach die entsprechenden Felder ausgwählt. Es war ein left join damit alle Werte von Customer erhalten bleiben.

In [10]:
query2 = pd.merge(customer[customer.CPlace == "Hallstadt"], customer_order, on="COrder_ID", how="left")[['Reviews', "CLName", "COrder_ID"]]
print(query2)

                Reviews   CLName  COrder_ID
0                  Good  Hethron    14729.0
1                   Bad  Helliar    14761.0
2        Very Delicious   Kelbie    14714.0
3        Very Delicious  Hethron    14630.0
4  Bad. Expired Product  Hethron    14622.0
5                   NaN  Hethron        NaN

Es sind 5 Reviews von Kunden aus Hallstadt zu finden.

### Query 03
Show all the customer details who ordered food. Arrange the columns of the resulting data frame in the following order: customer order ID, customer ID, customer's first name, family name, and then the rest of the columns.

Dafür wird zunächst ein inner join verwendet um die Tabllen Customer und Food Truck zu joinen mithilfe der COrder_ID. Ein inner join da wir nur die Kunden brauchen die auch etwas beim Food Truck bestellt haben.

In [11]:
query3 = pd.merge(customer, food_truck, on="COrder_ID", how="inner")
cols =  list(query3.columns.values)
query3new = query3[[cols[6]] + [cols[0]] + [cols[1]] + [cols[2]] + cols[3:6] + cols[7:]]
print(query3new.head())

   COrder_ID  Customer_ID   CFName   CLName     CPlace   CZip        CPhone  \
0    14729.0       220011     Phil  Hethron  Hallstadt  96103  571-733-3965
1    14755.0       220007     Arin    Robic   Gaustadt  96049  557-546-5920
2    14761.0       220001  Kaitlin  Helliar  Hallstadt  96103  101-736-1470
3    14797.0       220018  Shannon   Larose        Bug  96049  200-692-9627
4    14652.0       220009     Caty  Kohtler  Bischberg  96120  311-337-5892

   Foodtruck_ID      FT_Name FT_OpeningTime  FTItem_ID  RawMaterial_ID  \
0          2213         Oozz       11:30:00      22131               7
1          2213         Oozz       11:30:00      22132               7
2          2213         Oozz       11:30:00      22133               7
3          2208  Rimi Pizzas       12:00:00      22082              13
4          2208  Rimi Pizzas       12:00:00      22083              13

   Supplier_ID
0       230007
1       230007
2       230007
3       230006
4       230006

### Query 04
Update the phone number of Phil-Hethron from 571-733-3965 to 571-758-1964. </br>
Dafür wird die loc Funktion verwendet, zunächst um zu überprüfen ob noch ein anderer Kunde diese Nummer hat und dann nocheinmal um sie zu ändern.

In [12]:

customer.loc[(customer['CFName'] == 'Phil') & (customer['CLName'] == "Hethron"), "CPhone"] = "571-758-1964"

print(customer.loc[(customer['CFName'] == 'Phil') & (customer['CLName'] == "Hethron")])

    Customer_ID CFName   CLName     CPlace   CZip        CPhone  COrder_ID
0        220011   Phil  Hethron  Hallstadt  96103  571-758-1964    14729.0
12       220011   Phil  Hethron  Hallstadt  96103  571-758-1964    14630.0
15       220011   Phil  Hethron  Hallstadt  96103  571-758-1964    14622.0
18       220011   Phil  Hethron  Hallstadt  96103  571-758-1964        NaN

Die Telefonnummer wurde durch die Nutzung von loc geändert. Die beiden Filteroptionen wurden durch Klammern getrennt und durch das & Zeichen zusammengefügt. Danach wird die Spalte die geändert werden soll ausgwählt - in diesem Fall CPhone und zulezt der neue Werte eingetragen.

### Query 05
Show all the customers (CFName, CLNma, Customer_ID) with their order IDs (COrder_ID) who ordered
medium-sized food.

In [13]:
query5 = customer.merge(food_truck, on = "COrder_ID") \
        .merge(food_truck_menu, on = "FTItem_ID") \
        .merge(item_size, on ="ItemSize_ID")
query5 = query5[query5['ISizeType'] == "Medium"]
query5[['CFName', 'CLName', 'Customer_ID']].drop_duplicates(keep='first')

     CFName     CLName  Customer_ID
9      Arin      Robic       220007
10  Kaitlin    Helliar       220001
11     Caty    Kohtler       220009
12    Clerc  Escoffier       220008
13  Terence       Goly       220005
14    Mandy     Binner       220019
17  Shannon     Larose       220018

Ingesamt gibt es 7 Kunden die Medium-Sized Gerichte bestellt haben. Um da Ergebnis zu erhalten wurden zuerst die Tabllen customer, food_truck, food_truck_menu und item_size miteinander verbunden. Somit wurde neben der Bestellung auch die Größe anzeigt nach welcher im zweiten Schritt dann gefiltert wurde. Zuletzt wurden noch die entsprechenden Spalten ausgewählt und Duplikate entfernt, da ein Kunde nicht dopplet genannt werden muss - es geht ja nur darum alle Kunden und nicht alle Bestellungen zu nenennen.

### Query 06
Count the total amount that Caty paid for her orders.

In [14]:
query6 = customer.merge(food_truck, on = "COrder_ID") \
        .merge(food_truck_menu, on = "FTItem_ID")
query6 = query6[query6['CFName'] == 'Caty']

query6_grouped = query6.groupby('CFName').agg({'Price': 'sum'}).rename(columns={'Price' : 'SumPrice'})
query6_grouped

        SumPrice
CFName
Caty        26.0

Zunächst wurde der customer, food_truck und food_truck_menu DataFrame verbunden und im zweiten Schritt wurde nach Caty gefilter.
Um ihre aggregierte Summe an Ausgaben für Bestellungen zu bekommen wurde nach dem Namen gruppiert und danach der Preis aufsummiert. Zuletzt wurde noch der Name der Spalte angepasst damit er den Inhalt auch wiedergibt.

### Query 07
Fetch all the orders and their IDs complaining about expired products and show the supplier's name and
supplier's ID for the same.
HINT: The reviews of the customers should contain the word "Expired".

In [15]:
query7 =  customer_order.merge(food_truck, on = "COrder_ID") \
        .merge(supplier, on = "Supplier_ID")
query7 = query7[query7['Reviews'].str.contains("Expired")]
query7[['COrder_ID', 'Reviews', 'Supplier_Name', 'Supplier_ID']]

    COrder_ID               Reviews Supplier_Name  Supplier_ID
4       14622  Bad. Expired Product         Moema       230007
30      14705  Bad. Expired Product         Flink       230013

Zunächst wurden die customer_orders mit dem food_truck und supplier DatenFrame verbunden und danach die Reviews mti "Expired" in der Beschreibug herausgefiltert. Danach wurden noch die entsprechenden Spalten angezeigt.

### Query 08
Show the id, the name, and the revenue made by each food.
Note: Revenue refers to the total amount of income generated by the food trucks by selling their food
items. Name the resulting column as “Revenue”.

In [16]:
query8 = customer_order.merge(food_truck_menu, on = "FTItem_ID")

query8 = query8.groupby(['FTItem_ID', 'FoodItem_Name']).agg({'Price': 'sum'}).rename(columns={'Price' : 'Revenue'})
query8

                                         Revenue
FTItem_ID FoodItem_Name
22011     Vegetarian Pizza                   8.0
22012     House Special Pizza               14.0
22052     Crunchy Chicken Taco              18.0
22053     Grilled schrimp Taco               8.0
22081     Cheese Pizza                       7.5
22091     Checken Kebab Durum                8.5
22093     Black Pepper Kebab                 9.5
22102     Donner with Tikka                  8.5
22132     shawarma                           6.0
22161     Whopper Burger Combo              23.0
22162     Bacon Lover Chicken Burger         8.5
22193     Burittos with Braised Pork         6.0
22201     Plain noodles in Soup             12.0
22203     Noodle With Soy Sauce Chicken     14.0

Zunächst wurde die customer_order tabelle mit der FoodTruck_Menu Tabelle verbunden damit alle Bestellungen mit den jeweiligen Preisen sichtbar sind. Danach wurde nach der Item_ID und dem Namen des Essens gruppiert um danach die Preise auszusummieren und somit die erzielten Revenue zu erhalten.

### Query 09
Show the total Investment for each food truck with its ID and name.
Note: Investment is the total amount of money spent by each food truck to buy the raw materials from
the suppliers. Name the resulted column of your query “Investment”.

In [17]:

query9 = food_truck.merge(raw_material_order, on = "RawMaterial_ID")
query9['total'] = query9['PricePer_Item'] * query9['Quantity']
query9 = query9.groupby(['Foodtruck_ID', 'FT_Name']).agg({'total':'sum'}).rename(columns={'total':'Investment'})
query9

                             Investment
Foodtruck_ID FT_Name
2201         PizzeriaItalia        80.0
2202         CrispyBurger          72.4
2205         Vacos Tacos           80.0
2208         Rimi Pizzas           80.0
2209         Eatbridge            450.0
2210         Donner Kebab         150.0
2213         Oozz                 450.0
2216         Blogtag               99.0
2219         Flipbug Donner        50.0
2220         Skynoodle             40.0

Zuerst wurde die Food Truck Tabelle mit der Raw Material Order Tabelle verbunden. Danach wurde eine neue Spalte total Erstellt, welche die Quantity mit dem Price per Item multipliziert. Danach wurde nach der FoodTruckID und dem Namen gruppiert, total summiert und die Spalte umbenannt.